nav li{
    display: inline;
    font-size: 25px;
    margin:100px;
    font-weight: bold;
}

.navbar{
    text-align: center;
    height: 75px;
    background-color: #27496D;
}

nav ul{
    padding-top: 20PX;
    text-decoration: none;
}
nav ul a{
    text-decoration: none;
    color:#00A8CC;
    font: bold;
}
body{
    background-color:#142850;
}
h1{
    color:white;
    text-align: center;
}
h3{
    color: white;
    width: 50%;
}
h2{
    color: white;
}
