nav li{
    display: inline;
    font-size: 25px;
    margin:100px;
}

.navbar{
    text-align: center;
    height: 75px;
    background-color: #ffff50;
}

nav ul{
    padding-top: 20PX;
    text-decoration: none;
}
nav ul a{
    text-decoration: none;
    color: rgb(0, 0, 255);
    font: bold;
}
body{
    background-color:black;
}
h1{
    color:white;
}
p{
    color: white;
    width: 50%;
}
button{
    background-color: white;
    color: black;
    padding: 10px;
}